<h1 mat-dialog-title>Create new Activity</h1>
<div mat-dialog-content>
  <mat-form-field>
    <mat-label>Activity Id</mat-label>
    <input matInput [(ngModel)]="data.id" [disabled]="true">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Domain Account Id</mat-label>
    <input matInput [(ngModel)]="data.accountDomainId" [disabled]="true">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Description</mat-label>
    <input matInput [(ngModel)]="data.activityDescription">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Submit</button>
</div>
