<mat-card class="card">
  <div class="parent">
    <mat-card-content>
      <h2>Personal detail</h2>
      <div class="section-header">
        <div class="text">Basic info</div>
        <mat-divider [inset]="true" ></mat-divider>
      </div>
      <div class="padding-top-10px" fxLayout.xs="row" fxLayout="row wrap" fxLayoutGap="17.5px" ngClass.gt-xs="ml-10">
        <div form-group fxFlex="50%">
          <mat-form-field class="full-width-field">
            <mat-label>First name</mat-label>
            <input matInput type="text" [(ngModel)]="UserBasicInfo.firstName">
          </mat-form-field>
        </div>
        <div form-group fxFlex="50%">
          <mat-form-field class="full-width-field">
            <mat-label>Last name</mat-label>
            <input matInput type="text" [(ngModel)]="UserBasicInfo.lastName">
          </mat-form-field>
        </div>
        <div form-group fxFlex="50%">
          <mat-form-field class="full-width-field">
            <mat-label>Middle name</mat-label>
            <input matInput type="text" [(ngModel)]="UserBasicInfo.middleName">
          </mat-form-field>
        </div>
        <div form-group fxFlex="50%">
          <mat-form-field class="full-width-field">
            <mat-label>Full name</mat-label>
            <input matInput type="text" [(ngModel)]="FullName">
          </mat-form-field>
        </div>
        <div form-group fxFlex="50%">
          <mat-form-field class="full-width-field">
            <mat-label>Nationality</mat-label>
            <input matInput type="text" [(ngModel)]="UserBasicInfo.nationality">
          </mat-form-field>
        </div>
        <div form-group fxFlex="50%">
          <mat-form-field class="full-width-field">
            <mat-label>Date of Birth</mat-label>
            <input matInput type="text" value="02/08/1999">
          </mat-form-field>
        </div>
        <div form-group fxFlex="50%">
          <mat-form-field class="full-width-field">
            <mat-label>Marital status</mat-label>
            <input matInput type="text" [(ngModel)]="UserBasicInfo.maritalStatus">
          </mat-form-field>
        </div>
        <div form-group fxFlex="50%">
          <mat-form-field class="full-width-field">
            <mat-label>Gender</mat-label>
            <input matInput type="text" [(ngModel)]="UserBasicInfo.sex">
          </mat-form-field>
        </div>
      </div>

      <div class="section-header">
        <div class="text">For Vietnamese Only</div>
        <mat-divider [inset]="true"></mat-divider>
      </div>
      <div class="padding-top-10px" fxLayout.xs="row" fxLayout="row wrap" fxLayoutGap="17.5px" ngClass.gt-xs="ml-10">
        <div form-group fxFlex="50%">
          <mat-form-field class="full-width-field">
            <mat-label>Vietnamese name</mat-label>
            <input matInput type="text" [(ngModel)]="UserBasicInfo.vietnameseName">
          </mat-form-field>
        </div>
        <div form-group fxFlex="50%">
          <mat-form-field class="full-width-field">
            <mat-label>Ethnic race</mat-label>
            <input matInput type="text" [(ngModel)]="UserBasicInfo.ethnicRace">
          </mat-form-field>
        </div>
        <div form-group fxFlex="50%">
          <mat-form-field class="full-width-field">
            <mat-label>Birthplace city</mat-label>
            <input matInput type="text" [(ngModel)]="UserBasicInfo.birthplaceCity">
          </mat-form-field>
        </div>
        <div form-group fxFlex="50%">
          <mat-form-field class="full-width-field">
            <mat-label>ID card No.</mat-label>
            <input matInput type="text" [(ngModel)]="UserBasicInfo.idCardNo">
          </mat-form-field>
        </div>
        <div form-group fxFlex="50%">
          <mat-form-field class="full-width-field">
            <mat-label>Issued date</mat-label>
            <input matInput [matDatepicker]="picker" [(ngModel)]="UserBasicInfo.issuedDate">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
        <div form-group fxFlex="50%">
          <mat-form-field class="full-width-field">
            <mat-label>Issued place</mat-label>
            <input matInput type="text" [(ngModel)]="UserBasicInfo.issuedPlace">
          </mat-form-field>
        </div>
      </div>
      <div align="right">
        <button mat-flat-button color="primary" (click)="onSaveButtonClicked()"> Save changes </button>
      </div>
    </mat-card-content>
  </div>
</mat-card>
