<mat-card class="card">
  <div class="parent">
    <mat-card-content>
      <h2>Personal detail</h2>
      <div class="section-header">
        <div class="text">Basic info</div>
        <mat-divider [inset]="true" ></mat-divider>
      </div>
      <div class="padding-top-10px" fxLayout.xs="row" fxLayout="row wrap" fxLayoutGap="17.5px" ngClass.gt-xs="ml-10">
        <div form-group fxFlex="50%">
          <mat-form-field class="full-width-field">
            <mat-label>First name</mat-label>
            <input matInput type="text" [(ngModel)]="UserBasicInfo.firstName" [disabled]="!isEditingMode">
          </mat-form-field>
        </div>
        <div form-group fxFlex="50%">
          <mat-form-field class="full-width-field">
            <mat-label>Last name</mat-label>
            <input matInput type="text" [(ngModel)]="UserBasicInfo.lastName" [disabled]="!isEditingMode">
          </mat-form-field>
        </div>
        <div form-group fxFlex="50%">
          <mat-form-field class="full-width-field">
            <mat-label>Middle name</mat-label>
            <input matInput type="text" [(ngModel)]="UserBasicInfo.middleName" [disabled]="!isEditingMode">
          </mat-form-field>
        </div>
        <div form-group fxFlex="50%">
          <mat-form-field class="full-width-field">
            <mat-label>Full name</mat-label>
            <input matInput type="text" [(ngModel)]="FullName" [disabled]="true">
          </mat-form-field>
        </div>
        <div form-group fxFlex="50%">
          <mat-form-field class="full-width-field">
            <mat-label>Nationality</mat-label>
            <input matInput type="text" [(ngModel)]="UserBasicInfo.nationality" [disabled]="!isEditingMode">
          </mat-form-field>
        </div>
        <div form-group fxFlex="50%">
          <mat-form-field class="full-width-field">
            <mat-label>Date of Birth</mat-label>
            <input matInput [matDatepicker]="pickerDoB" [(ngModel)]="UserBasicInfo.doB" [disabled]="!isEditingMode">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #pickerDoB></mat-datepicker>
          </mat-form-field>
        </div>
        <div form-group fxFlex="50%">
          <mat-form-field class="full-width-field">
            <mat-label>Marital status</mat-label>
            <input matInput type="text" [(ngModel)]="UserBasicInfo.maritalStatus" [disabled]="!isEditingMode">
          </mat-form-field>
        </div>
        <div form-group fxFlex="50%">
          <mat-form-field class="full-width-field">
            <mat-select required [(ngModel)]="UserBasicInfo.gender">
              <mat-option [value]="true">Male</mat-option>
              <mat-option [value]="false">Female</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div class="section-header">
        <div class="text">For Vietnamese Only</div>
        <mat-divider [inset]="true"></mat-divider>
      </div>
      <div class="padding-top-10px" fxLayout.xs="row" fxLayout="row wrap" fxLayoutGap="17.5px" ngClass.gt-xs="ml-10">
        <div form-group fxFlex="50%">
          <mat-form-field class="full-width-field">
            <mat-label>Vietnamese name</mat-label>
            <input matInput type="text" [(ngModel)]="UserBasicInfo.vietnameseName" [disabled]="!isEditingMode">
          </mat-form-field>
        </div>
        <div form-group fxFlex="50%">
          <mat-form-field class="full-width-field">
            <mat-label>Ethnic race</mat-label>
            <input matInput type="text" [(ngModel)]="UserBasicInfo.ethnicRace" [disabled]="!isEditingMode">
          </mat-form-field>
        </div>
        <div form-group fxFlex="50%">
          <mat-form-field class="full-width-field">
            <mat-label>Birthplace city</mat-label>
            <input matInput type="text" [(ngModel)]="UserBasicInfo.birthplaceCity" [disabled]="!isEditingMode">
          </mat-form-field>
        </div>
        <div form-group fxFlex="50%">
          <mat-form-field class="full-width-field">
            <mat-label>ID card No.</mat-label>
            <input matInput type="text" [(ngModel)]="UserBasicInfo.idCardNo" [disabled]="!isEditingMode">
          </mat-form-field>
        </div>
        <div form-group fxFlex="50%">
          <mat-form-field class="full-width-field">
            <mat-label>Issued date</mat-label>
            <input matInput [matDatepicker]="picker" [(ngModel)]="UserBasicInfo.issuedDate" [disabled]="!isEditingMode">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
        <div form-group fxFlex="50%">
          <mat-form-field class="full-width-field">
            <mat-label>Issued place</mat-label>
            <input matInput type="text" [(ngModel)]="UserBasicInfo.issuedPlace" [disabled]="!isEditingMode">
          </mat-form-field>
        </div>
      </div>
      <div align="right">
        <button mat-flat-button color="primary" (click)="onSaveButtonClicked()" *ngIf="isEditingMode"> Save changes </button>
      </div>
    </mat-card-content>
  </div>
</mat-card>
