mat-form-field.mat-form-field {
  font-size: 16px;
  padding: 0.7em 0 0.7em 0 !important;
  top: -0.25em;
}

.activity-select {
  width: 100%;
}

.center {
  height: 60%;
}

.container-padding-top-10px-alight-center {
  padding-top: 10px;
  padding-bottom: 0px;
  display: flex;
}

.mat-icon {
  vertical-align: middle;
}
