<div class="padding-top-10px" fxLayout.xs="row" fxLayout="row wrap" fxLayoutGap="17.5px" ngClass.gt-xs="ml-10">
  <div [fxFlex]="fxFlex1" id="nav1">
    <p>Client/Project</p>
  </div>

  <div [fxFlex]="fxFlex1" id="nav2">
    <p>Activity</p>
  </div>
  <div [fxFlex]="fxFlex2" id="nav3">
    <p>Task</p>
  </div>
  <div fxFlex="35%">
    <div fxLayout.xs="row" fxLayout="row wrap" fxLayoutGap="15px" ngClass.gt-xs="ml-10">
      <div fxFlex="10%">
        <p class="text-center">Mon</p>
        <p class="text-center">{{weekDays[0]}}</p>
      </div>
      <div fxFlex="10%">
        <p class="text-center">Tue</p>
        <p class="text-center">{{weekDays[1]}}</p>
      </div>
      <div fxFlex="10%">
        <p class="text-center">Wed</p>
        <p class="text-center">{{weekDays[2]}}</p>
      </div>
      <div fxFlex="10%">
        <p class="text-center">Thu</p>
        <p class="text-center">{{weekDays[3]}}</p>
      </div>
      <div fxFlex="10%">
        <p class="text-center">Fri</p>
        <p class="text-center">{{weekDays[4]}}</p>
      </div>
      <div fxFlex="10%">
        <p class="text-center">Sat</p>
        <p class="text-center">{{weekDays[5]}}</p>
      </div>
      <div fxFlex="10%">
        <p class="text-center">Sun</p>
        <p class="text-center">{{weekDays[6]}}</p>
      </div>
    </div>
  </div>
</div>
