<div class="container-padding-top-10px-alight-center" fxLayout.xs="row" fxLayout="row wrap" fxLayoutGap="17.5px" ngClass.gt-xs="ml-10">
  <div fxFlex="15%">

  </div>

  <div fxFlex="15%">

  </div>
  <div fxFlex="32%">

  </div>
  <div fxFlex="35%">
    <div fxLayout.xs="row" fxLayout="row wrap" fxLayoutGap="15px" ngClass.gt-xs="ml-10">
      <div fxFlex="10%">
        <mat-form-field class="full-width-field" appearance="outline" floatLabel='never'>
          <input matInput maxlength="2" type="number" [ngModel]="TimesheetHr.MonHrs">
        </mat-form-field>
      </div>
      <div fxFlex="10%">
        <mat-form-field class="full-width-field" appearance="outline" floatLabel='never'>
          <input matInput maxlength="2" type="number" [ngModel]="TimesheetHr.TueHrs">
        </mat-form-field>
      </div>
      <div fxFlex="10%">
        <mat-form-field class="full-width-field" appearance="outline" floatLabel='never'>
          <input matInput maxlength="2" type="text" [ngModel]="TimesheetHr.WedHrs">
        </mat-form-field>
      </div>
      <div fxFlex="10%">
        <mat-form-field class="full-width-field" appearance="outline" floatLabel='never'>
          <input matInput maxlength="2" type="text" [ngModel]="TimesheetHr.ThuHrs">
        </mat-form-field>
      </div>
      <div fxFlex="10%">
        <mat-form-field class="full-width-field" appearance="outline" floatLabel='never'>
          <input matInput maxlength="2" type="text" [ngModel]="TimesheetHr.FriHrs">
        </mat-form-field>
      </div>
      <div fxFlex="10%">
        <mat-form-field class="full-width-field" appearance="outline" floatLabel='never'>
          <input matInput maxlength="2" type="text" [ngModel]="TimesheetHr.SatHrs">
        </mat-form-field>
      </div>
      <div fxFlex="10%">
        <mat-form-field class="full-width-field" appearance="outline" floatLabel='never'>
          <input matInput maxlength="2" type="text" [ngModel]="TimesheetHr.SunHrs">
        </mat-form-field>
      </div>
    </div>
  </div>
</div>
