.container{
  padding: 10px;
}

.padding-top-20px {
  padding-top: 20px;
}

.submit-control-button {
  padding-top: 10px;
  display: flex;
  flex-direction: row-reverse;
}

.not-submitted-label {
  border: 1px solid orange;
  padding: 2px;
  background-color: orange;
  opacity: 0.8;
  border-radius: 25px;
}
