<mat-card class="card">
  <div class="parent">
    <mat-card-content>
      <h2>Personal detail</h2>
      <div class="section-header">
        <div class="text">Basic info</div>
        <mat-divider [inset]="true"></mat-divider>
      </div>
      <div fxLayout.xs="column" fxLayout="row wrap" fxLayoutGap="5px" ngClass.gt-xs="ml-10">
        <div form-group fxFlex="20%">
          <mat-form-field class="example-form-field">
          <mat-label>First name</mat-label>
          <input matInput type="text" [(ngModel)]="UserBasicInfo.firstName">
          </mat-form-field>
        </div>
        <div form-group fxFlex="20%">
          <mat-form-field class="example-form-field">
            <mat-label>First name</mat-label>
            <input matInput type="text" [(ngModel)]="UserBasicInfo.firstName">
          </mat-form-field>
        </div>
        <div form-group fxFlex="20%">
          <mat-form-field class="example-form-field">
            <mat-label>First name</mat-label>
            <input matInput type="text" [(ngModel)]="UserBasicInfo.firstName">
          </mat-form-field>
        </div>
        <div form-group fxFlexFill>
          <mat-form-field class="example-form-field">
            <mat-label>First name</mat-label>
            <input matInput type="text" [(ngModel)]="UserBasicInfo.firstName">
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
  </div>
</mat-card>
