<mat-toolbar color="primary" class="app-header">
  <mat-toolbar-row>
    <div fxFlex="10%">
      <a mat-button routerLink="login" routerLinkActive="active">Log in</a>
      <a mat-button routerLink="home" routerLinkActive="active">Home</a>
      <a mat-button routerLink="user" *ngIf="isLoggedIn">User</a>
    </div>
    <div fxFlex="75%">
    </div>
    <div fxFlex="0%">
      <a mat-button *ngIf="isLoggedIn" routerLink="profile" routerLinkActive= "active"> Welcome {{ username }}</a>
      <a mat-button (click)="logout()" *ngIf="isLoggedIn">Log out</a>
    </div>
  </mat-toolbar-row>
  </mat-toolbar>

<div class="container">
  <router-outlet></router-outlet>
</div>
