<div [ngClass]="{ 'container': !isCallFromAnother }">
  <div class="parent">
    <div class="profile-content">
      <mat-card class="nav-card">
        <mat-card-content>
          <div class="parent">
            <div flex-auto>
              <img *ngIf="!isImageLoading" [src]='avatarImage' width="150px" height="150px" alt="avatarImage">
            </div>
            <div flex-auto class="nav-basic-info">
              <h2>{{ currentUser.name }}</h2>
              <p>ID. {{ currentUser.employeeCode }}</p>
              <p>{{ currentJobTitle }}</p>
            </div>
          </div>
          <div class="section-header">
            <div class="text"> Personal </div>
            <mat-divider [inset]="true"></mat-divider>
          </div>
          <div class="menu-item">
            <a mat-button class="menu-item" (click)="selectDetail()"> Personal Details </a>
          </div>

          <div class="section-header">
            <div class="text"> Employment </div>
            <mat-divider [inset]="true"></mat-divider>
          </div>
          <div class="menu-item">
            <a mat-button (click)="selectJob()"> Jobs </a>
          </div>
          <div class="menu-item">
            <a mat-button (click)="selectPjInfo()"> Project info </a>
          </div>

        </mat-card-content>
      </mat-card>
    </div>
    <div class="details-content">
      <app-details *ngIf="isDetailSelected" [UserBasicInfo]="currentUser"
                   [isEditingMode]="isCallFromAnother"
                   (saveChange)="saveDetailsInfo()">
      </app-details>
      <app-job *ngIf="isJobSelected" [Jobs]="currentUser.jobs"
               [EmployeeCode]="currentUser.employeeCode"
               [IsEdit]="isCallFromAnother"></app-job>
      <app-project-info *ngIf="isPjInfoSelected"
                        [Projects]="currentUser.projects"
      ></app-project-info>
    </div>
  </div>
</div>
