.container{
  margin-top: 100px;
}

.nav-card {
  max-width: 700px;
}

.profile-content{
  display: flex;
  padding: 20px;
}
.parent{
  max-width: 500px;
  display: flex;
}

.nav-basic-info{
  padding: 20px;
}
