.directory-img{
  width: 120px;
  height: 120px;
}
table {
  width: 100%;
}
.parent{
  max-width: 500px;
  display: flex;
}

.nav-basic-info{
  padding-left: 20px;
}
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}
.example-full-width {
  width: 100%;
}
