
<div class="divcontainer">
  <div>
    <mat-card>
    <form class="example-form">
      <mat-toolbar>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
          <mat-icon>menu</mat-icon>
        </button>
        <span>
          <h1>DIRECTORY</h1>
        </span>
        <br>

        <mat-form-field class="example-full-width">
          <input type="text" placeholder="Search..." aria-label="Number" matInput />
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option> Hi </mat-option>
          </mat-autocomplete>
        </mat-form-field>

      </mat-toolbar>
    </form>
    </mat-card>
    <app-directory-details>
    </app-directory-details>
  </div>
  <mat-paginator [length]="100"
                 [pageSize]="5"
                 [pageSizeOptions]="[5, 10, 25, 100]">
  </mat-paginator>
</div>




