.container{
  margin-top: 65px;
}

.nav-card {
  max-width: 700px;
}

.profile-content{
  display: flex;
  padding: 20px;
}

.parent{
  max-width: 100%;
  display: flex;
}

.nav-basic-info{
  padding-left: 20px;
}

.display-flex {
  display: flex;
  max-width: 500px;
}


.text {
  padding-left: 10px;
  padding-right: 10px;
}
